In [251]:
import pandas as pd
import numpy as np

#import csv from database
movies = pd.read_csv('./database/movies_local.csv')
movies = movies.sort_values('movie')
movies = movies.set_index('movie')

#rename all columns
movies.columns = ['indication_year', 'number_indications', 'victories']

In [252]:
#convet year into numbers
movies['indication_year'] = movies['indication_year'].astype(int)
movies.head()

                           indication_year  number_indications  victories
movie
$1,000 a Minute                       1936                   1          0
'38'                                  1987                   1          0
'Crocodile' Dundee                    1987                   1          0
'Round Midnight                       1987                   2          1
(A) Torzija [(A) Torsion]             2004                   1          0

# Gerando Algumas estatisticas

In [253]:
def percentage_victories(indications, victories):
    return (victories * 100) / indications
movies['percentage_victories'] = np.vectorize(percentage_victories)(movies['number_indications'], movies['victories'])

In [254]:
movies.head()

,indication_year,number_indications,victories,percentage_victories
movie,,,,
"$1,000 a Minute",1936,1,0,0.0
'38',1987,1,0,0.0
'Crocodile' Dundee,1987,1,0,0.0
'Round Midnight,1987,2,1,50.0
(A) Torzija [(A) Torsion],2004,1,0,0.0

In [352]:
bdteste = movies.iloc[-10:,:].copy()
bdteste

,indication_year,number_indications,victories,percentage_victories
movie,,,,
Zorba the Greek,1965,7,3,42.857143
Zus & Zo,2003,1,0,0.000000
images,1973,1,0,0.000000
"sex, lies, and videotape",1990,1,0,0.000000
the accountant,2002,1,1,100.000000
the end,1996,1,0,0.000000
tom thumb,1959,1,1,100.000000
À Nous la Liberté,1933,1,0,0.000000
Ådalen '31,1970,1,0,0.000000
Éramos Pocos (One Too Many),2007,1,0,0.000000

In [353]:
import datetime
now = datetime.datetime.now()

print(str(now.hour)+':'+str(now.minute)+':'+str(now.second))

bkp = []

14:51:1

In [392]:
import requests
import json
api_key = 'aa043c2ae33192f63fcc150bb97816b7'


def budg_imdb_rev(mvid):
    if mvid and mvid != 0:
        url = "https://api.themoviedb.org/3/movie/"+str(mvid)+"?api_key="+api_key+"&language=en-US"

        payload = "{}"

        response = requests.request("GET", url, data=payload)
        data = json.loads(response.text)
        genres = [x['name'] for x in data['genres']]
        production_countries = [x['iso_3166_1'] for x in data['production_countries']]
        return  np.array([data['imdb_id'], data['budget'], data['revenue'], genres, production_countries], dtype=object)
    
    return  np.array([False, False, False, False, False], dtype=object)

def find_movie(mv, yr):
    
    now = datetime.datetime.now()
    url = "https://api.themoviedb.org/3/search/movie?api_key="+api_key+"&language=en-US&query="+mv
    url= url+"&primary_release_year="+str(yr-1)
    payload = "{}"

    response = requests.request("GET", url, data=payload)
    data = json.loads(response.text)
    
    print(str(now.hour)+':'+str(now.minute)+':'+str(now.second))
    print(mv + ' | ' +str(data['total_results']))
    
    if len(data['results']) == 1:
        return  data['results'][0]['id']
    
    elif data['results'] and data['total_results'] > 1:
        lmmv = []
        
        for mvs in data['results']:
            if mvs['title'] == mv:
                lmmv.append(mvs)
                
        if len(lmmv) == 1:
            return  lmmv[0]['id']
        elif len(lmmv) > 1:
            return  False
        
        return  False
   
    return  False

In [399]:
#divide movies database for analisis

moviesdv=[]

for x in range(1,120):
    moviesdv.append(movies.iloc[int(len(movies.index.values)/120)*(x-1):int(len(movies.index.values)/120)*x,:].copy())

len(moviesdv[0])

39

In [ ]:
for df in moviesdv:
    print('-----------------------------------------------')
    df['tmdb_id'] =  np.vectorize(find_movie)(df.index.values, df['indication_year'])

-----------------------------------------------
15:41:54
$1,000 a Minute | 1
15:41:54
$1,000 a Minute | 1
15:41:55
'38' | 1
15:41:56
'Crocodile' Dundee | 1
15:41:57
'Round Midnight | 1
15:41:58
(A) Torzija [(A) Torsion] | 0
15:41:58
...And Justice for All | 1
15:41:59
10 | 10
15:41:59
102 Dalmatians | 1
15:42:0
12 | 11
15:42:1
12 Angry Men | 1
15:42:1
12 Monkeys | 1
15:42:2
12 Years a Slave | 1
15:42:3
127 Hours | 1
15:42:3
12:01 PM | 1
15:42:4
13 Hours: The Secret Soldiers of Benghazi | 1
15:42:5
13th | 2
15:42:5
140 Days under the World | 1
15:42:6
1776 | 1
15:42:7
1848 | 0
15:42:7
1941 | 1
15:42:9
20 Feet from Stardom | 1
15:42:9
20,000 Leagues under the Sea | 1
15:42:10
2001: A Space Odyssey | 1
15:42:11
2010 | 1
15:42:11
20th Century Women | 1
15:42:12
21 Grams | 1
15:42:13
24-Hour Alert | 1
15:42:13
3 Misses | 0
15:42:14
3:10 to Yuma | 1
15:42:15
3rd Ave. El | 1
15:42:15
4 Little Girls | 1
15:42:16
4.1 Miles | 1
15:42:16
42nd Street | 2
15:42:17
45 Years | 1
15:42:18
5 Broken Cameras | 0
15:42:19
55 Days at Peking | 1
15:42:19
7 Faces of Dr. Lao | 1
15:42:20
7:35 in the Morning (7:35 de la Mañana) | 0
15:42:21
7th Heaven | 0
-----------------------------------------------
15:42:21
8 Mile | 1
15:42:22
8 Mile | 1
15:42:22
89mm od Europy (89mm from Europe) | 0
15:42:23
9 | 38
15:42:24
A Beautiful Mind | 1
15:42:25
A Better Life | 1
15:42:26
A Boy Named Charlie Brown | 0
15:42:26
A Boy and His Dog | 1
15:42:27
A Bug's Life | 1
15:42:28
A Cage of Nightingales | 0
15:42:28
A Cat in Paris | 0
15:42:29
A Certain Smile | 1
15:42:30
A Chairy Tale | 1
15:42:31
A Chance to Live | 1
15:42:32
A Chef in Love | 1
15:42:33
A Chorus Line | 1
15:42:33
A Christmas Carol | 0
15:42:34
A City Called Copenhagen | 1
15:42:35
A City Decides | 1
15:42:36
A Civil Action | 1
15:42:37
A Clockwork Orange | 1
15:42:37
A Close Shave | 1
15:42:38
A Cry in the Dark | 1
15:42:39
A Damsel in Distress | 1
15:42:40
A Day at the Races | 1
15:42:40
A Day in the Life of Bonnie Consolo | 1
15:42:41
A Different Approach | 1
15:42:42
A Double Life | 1
15:42:42
A Dry White Season | 1
15:42:43
A Farewell to Arms | 0
15:42:44
A Farewell to Arms | 1
15:42:44
A Few Good Men | 1
15:42:45
A Few Notes on Our Food Problem | 1
15:42:46
A Fish Called Wanda | 1
15:42:46
A Foreign Affair | 1
15:42:47
A Free Soul | 1
15:42:48
A Funny Thing Happened on the Way to the Forum | 1
15:42:48
A Gathering of Eagles | 1
15:42:49
A Girl in the River: The Price of Forgiveness | 1
15:42:50
A Grand Day Out | 1
-----------------------------------------------
15:42:50
A Great Day in Harlem | 1
15:42:51
A Great Day in Harlem | 1
15:42:51
A Greek Tragedy | 0
15:42:52
A Gun in His Hand | 1
15:42:53
A Guy Named Joe | 1
15:42:53
A Handful of Dust | 1
15:42:54
A Hard Day's Night | 1
15:42:55
A Hatful of Rain | 1
15:42:55
A History of Violence | 1
15:42:56
A Hole in the Head | 1
15:42:57
A House Is Not a Home | 1
15:42:58
A Jury of Her Peers | 1
15:42:58
A King's Story | 0
15:42:59
A Letter to Three Wives | 1
15:43:0
A Little Night Music | 1
15:43:0
A Little Princess | 1
15:43:1
A Little Romance | 1
15:43:2
A Little Vicious | 1
15:43:2
A Long Way from Nowhere | 1
15:43:3
A Majority of One | 1
15:43:3
A Man Called Ove | 0
15:43:4
A Man Called Peter | 1
15:43:5
A Man Thing (Meska Sprawa) | 0
15:43:5
A Man and a Woman | 1
15:43:6
A Man for All Seasons | 1
15:43:7
A Matter of Loaf and Death | 0
15:43:7
A Medal for Benny | 1
15:43:8
A Midsummer Night's Dream | 1
15:43:9
A Mighty Wind | 1
15:43:9
A Morning Stroll | 1
15:43:10
A New Kind of Love | 1
15:43:11
A Night at the Movies | 1
15:43:11
A Note of Triumph: The Golden Age of Norman Corwin | 1
15:43:12
A Passage to India | 1
15:43:12
A Patch of Blue | 1
15:43:13
A Place in the Land | 1
15:43:15
A Place in the Sun | 1
15:43:16
A Place in the Sun | 0
15:43:16
A Place in the World | 1
15:43:17
A Place to Live | 1
-----------------------------------------------
15:43:18
A Place to Stand | 1
15:43:18
A Place to Stand | 1
15:43:19
A Portrait of Giselle | 1
15:43:19
A Preferred List | 1
15:43:20
A Prophet | 7
15:43:21
A Queen Is Crowned | 1
15:43:21
A Rage to Live | 1
15:43:22
A River Runs through It | 1
15:43:23
A Room with a View | 0
15:43:23
A Royal Affair | 1
15:43:24
A Separation | 1
15:43:24
A Serious Man | 1
15:43:25
A Ship Comes In | 1
15:43:26
A Ship Is Born | 1
15:43:26
A Shocking Accident | 1
15:43:27
A Simple Plan | 1
15:43:28
A Simple Story | 0
15:43:28
A Single Life | 2
15:43:29
A Single Man | 1
15:43:30
A Soccer Story (Uma Historia de Futebol) | 0
15:43:30
A Soldier's Story | 1
15:43:31
A Song to Remember | 1
15:43:32
A Space to Grow | 1
15:43:33
A Special Day | 1
15:43:34
A Sport Is Born | 1
15:43:34
A Star Is Born | 1
15:43:35
A Star Is Born | 1
15:43:36
A Star Is Born | 1
15:43:36
A Stitch for Time | 1
15:43:37
A Stolen Life | 1
15:43:38
A Story of Healing | 1
15:43:40
A Streetcar Named Desire | 1
15:43:41
A Tale of Two Cities | 0
15:43:42
A Thousand Clowns | 1
15:43:43
A Thousand and One Nights | 1
15:43:43
A Time Out of War | 1
15:43:44
A Time for Burning | 1
15:43:45
A Time for Justice | 1
15:43:45
A Time to Love and a Time to Die | 1
15:43:46
A Touch of Class | 1
-----------------------------------------------
15:43:47
A Tree Grows in Brooklyn | 1
15:43:47
A Tree Grows in Brooklyn | 1
15:43:48
A Very Long Engagement | 2
15:43:49
A Voice Is Born: The Story of Niklos Gafni | 0
15:43:49
A War | 44
15:43:50
A Way Out of the Wilderness | 1
15:43:51
A Wild Hare | 1
15:43:51
A Woman of Affairs; | 0
15:43:52
A Woman under the Influence | 1
15:43:53
A Yank in the R.A.F. | 1
15:43:54
A Year toward Tomorrow | 1
15:43:55
A.I. Artificial Intelligence | 1
15:43:55
Abe Lincoln in Illinois | 1
15:43:56
About Schmidt | 1
15:43:57
About a Boy | 1
15:43:58
Above and Beyond | 0
15:43:59
Absence of Malice | 1
15:43:59
Across the Universe | 1
15:44:0
Action in the North Atlantic | 1
15:44:1
Adam | 8
15:44:2
Adam Clayton Powell | 1
15:44:3
Adam and Dog | 0
15:44:3
Adam's Rib | 0
15:44:4
Adaptation | 1
15:44:5
Addams Family Values | 1
15:44:5
Address Unknown | 1
15:44:6
Adolescence | 1
15:44:7
Adventure in the Bronx | 1
15:44:7
Adventures in Perception | 0
15:44:8
Adventures of Robinson Crusoe | 1
15:44:9
Affair in Trinidad | 1
15:44:9
Affliction | 0
15:44:10
Africa, Prelude to Victory | 1
15:44:11
After the Axe | 1
15:44:11
After the Thin Man | 1
15:44:12
After the Wedding | 1
15:44:13
Afterglow | 1
15:44:13
Against All Odds | 1
15:44:14
Against Wind and Tide: A Cuban Odyssey | 1
15:44:15
Agatha | 1
-----------------------------------------------
15:44:16
Agee | 1
15:44:16
Agee | 1
15:44:17
Agnes of God | 1
15:44:18
Agueda Martinez: Our People, Our Country | 1
15:44:19
Air Force | 1
15:44:19
Air Force One | 1
15:44:20
Airport | 2
15:44:21
Airport '77 | 1
15:44:21
Ajami | 1
15:44:22
Aladdin | 5
15:44:23
Alaska Wilderness Lake | 1
15:44:23
Alaska: Spirit of the Wild | 0
15:44:24
Albert Nobbs | 1
15:44:25
Albert Schweitzer | 1
15:44:25
Alexander's Ragtime Band | 1
15:44:26
Alfie | 1
15:44:27
Algiers | 1
15:44:27
Ali | 12
15:44:28
Ali Baba Goes to Town | 1
15:44:29
Alibi | 1
15:44:29
Alibi; | 1
15:44:30
Alice | 3
15:44:31
Alice Adams | 1
15:44:31
Alice Doesn't Live Here Anymore | 1
15:44:32
Alice in Wonderland | 4
15:44:32
Alice in Wonderland | 1
15:44:34
Alice's Restaurant | 1
15:44:34
Alien | 3
15:44:35
Alien 3 | 1
15:44:37
Aliens | 2
15:44:37
Alive in the Deep | 1
15:44:38
All Is Lost | 1
15:44:39
All Nothing | 1
15:44:39
All Out for 'V' | 1
15:44:40
All Quiet on the Western Front | 1
15:44:41
All That Jazz | 1
15:44:41
All That Money Can Buy | 1
15:44:42
All Things Fair | 1
15:44:43
All This, and Heaven Too | 1
15:44:43
All about Eve | 1
-----------------------------------------------
15:44:44
All about My Mother | 1
15:44:44
All about My Mother | 1
15:44:45
All the Brothers Were Valiant | 1
15:44:46
All the King's Men | 1
15:44:46
All the President's Men | 1
15:44:47
All-American Co-Ed | 1
15:44:48
Allied | 1
15:44:48
Almost Famous | 1
15:44:49
Aloma of the South Seas | 1
15:44:50
Alone Yet Not Alone | 1
15:44:50
Along the Rainbow Trail | 0
15:44:51
Alsino and the Condor | 0
15:44:52
Altered States | 1
15:44:53
Alvorada (Brazil's Changing Face) | 1
15:44:54
Always a New Beginning | 0

15:44:54
Always in My Heart | 1
15:44:55
Ama Girls | 1
15:44:56
Amadeus | 1
15:44:56
Amarcord | 0
15:44:57
Amarcord | 0
15:44:58
Amazon | 3
15:44:59
Amazon Diary | 1
15:44:59
America America | 4
15:45:0
American Beauty | 1
15:45:0
American Dream | 2
15:45:1
American Gangster | 1
15:45:2
American Graffiti | 1
15:45:3
American History X | 1
15:45:3
American Hustle | 1
15:45:4
American Shoeshine | 1
15:45:4
American Sniper | 1
15:45:5
American Splendor | 1
15:45:6
Americas in Transition | 0
15:45:6
Amistad | 1
15:45:7
Amores Perros | 1
15:45:8
Amour | 24
15:45:8
Amphibious Fighters | 1
15:45:9
Amy | 5
15:45:10
Amélie | 1
15:45:10
An Affair to Remember | 1
-----------------------------------------------
15:45:11
An American Dream | 1
15:45:12
An American Dream | 1
15:45:12
An American Tail | 1
15:45:13
An American Werewolf in London | 1
15:45:14
An American in Paris | 1

In [360]:
moviesdv[0]

,indication_year,number_indications,victories,percentage_victories,tmdb_id
movie,,,,,
Zorba the Greek,1965,7,3,42.857143,10604
Zus & Zo,2003,1,0,0.000000,21896
images,1973,1,0,0.000000,0
"sex, lies, and videotape",1990,1,0,0.000000,1412
the accountant,2002,1,1,100.000000,36733
the end,1996,1,0,0.000000,0
tom thumb,1959,1,1,100.000000,56931
À Nous la Liberté,1933,1,0,0.000000,0
Ådalen '31,1970,1,0,0.000000,87208
Éramos Pocos (One Too Many),2007,1,0,0.000000,0

In [ ]:
movies.to_csv('./database/movies_TMDB_PI1.csv')

In [ ]:
now = datetime.datetime.now()

print(str(now.hour)+':'+str(now.minute)+':'+str(now.second))

In [ ]:

movies[['imdb_id','budget','revenue', 'genres', 'production_countries']] = pd.DataFrame(list(movies['tmdb_id'].apply(budg_imdb_rev)), index=movies.index)

In [ ]:
movies.to_csv('./database/movies_TMDB_PI2.csv')

In [ ]:
now = datetime.datetime.now()

print(str(now.hour)+':'+str(now.minute)+':'+str(now.second))

In [ ]:
#https://developers.themoviedb.org/3/movies/get-movie-details
#https://github.com/richardasaurus/imdb-pie#get_title_credits
#https://market.mashape.com/marcalencc/metacritic#
movies.head()